# Point to relocated Airflow runtime folders.
AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs
# The following line can be used to set a custom config file, stored in the local config folder
AIRFLOW_CONFIG=/opt/airflow/config/airflow.cfg


# Optimization for low memory environment (4GB RAM)
AIRFLOW__SCHEDULER__PARSING_PROCESSES=1 # limits the scheduler to parsing one DAG at a time
AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL=60 # 30s -> 60s. The scheduler will check for DAG updates less frequently
AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT=120
AIRFLOW__SCHEDULER__JOB_HEARTBEAT_SEC=30
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://airflow-apiserver:8080/execution/
AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=true